.figure{
    border-color: chocolate;
    
    box-shadow: 7px 5px 5px rgb(77, 78, 82);
    height: 97%;
    width:98%;
    }
    .centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);}
  .responsive {
  width: 100%;
  height: auto;
}
.bs-example{
    	margin: 20px;
    }

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
