body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;            
}
.figure{
border-color: chocolate;
height: 97%;
width:98%;
}
.centered {
position: absolute;
top: 25%;
left: 50%;
transform: translate(-50%, -50%);}
.responsive {
width: 100%;
height: auto;
}
.top-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.jumbotron {
    position: relative;
    background:none;
    color: azure;
  }
  .jumbotron:after {
      content : "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("images/veggies.jpg");
      background-repeat: no-repeat;
      background-position: center;
    background-size: cover;
      width: 100%;
      height: 100%;
     
      z-index: -1;
  }
  
  
#image a:hover img{
transform: scale(1.1);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
nav{
    background: transparent;
    color: azure;
    padding: 0px;
}
.nav-link{
    background: transparent;
    color: azure;
}
nav a:hover{
    text-shadow: 0 0 20px white;
    color: white;
}
#image h2:hover{
    transform: scale(1.1);
    text-shadow:0 0 20px black;
}
.modal p,i,span,label{
color: #000;
}
.md-form{
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 0%;
}

